.container {
	background-color: white;
	display: flex;
	flex-direction: column;
	justify-content: center;
	height: 100vh;
}

.backgroundContainer {
	background-image: url('../../public/flower2.png');
	background-position: top;
	background-size: contain;
	background-repeat: no-repeat;
}

.dateText {
	background-image: url('../../public/TextDate2.png');
	height: 50vh;
	width: 50vw;
	margin: 0 auto;
	background-position: center;
	background-size: contain;
	background-repeat: no-repeat;
}
