.container {
	background-color: white;
	display: flex;
	flex-direction: column;
	justify-content: center;
	height: 100vh;
}

.backgroundContainer {
	background-image: url('../../public/flower2.png');
    background-position: top;
    background-repeat: no-repeat;
    background-size: contain;
    width: 100vw;
    height: 100vh;
    margin-left: 24vw;
    position: fixed;
    z-index: 0;
}

.dateText {
	background-image: url('../../public/TextDate2.png');
    background-position: 50%;
    background-repeat: no-repeat;
    background-size: contain;
    height: 60%;
    width: 60%;
    margin: 0 auto;
    z-index: 2;
}
